#content
  %h1 Контакты
  #contacts
    - Contact.all.in_groups_of(4) do |group|
      - group.each do |contact|
        - next if contact.nil?
        .foto
          = image_tag contact.photo.url
          %br/
          %b= contact.name
          %br/
          = contact.post
          %br/
          Моб.: #{contact.phone}
          %br/
          E-mail: #{contact.email}
      %br.clear/
  #location
    %h1 Офис
    #address
      Украина 08310 Киев
      %br/
      Большая Окружная дорога
      %br/
      Петропавловская Борщаговка,
      %br/
      ул. Петропавловская 14-Е
    #contact_info
      ТЦ «Диамант»
      %br/
      тел/факс: #{ ::Text.content('phone') }
      %br/
      E-mail: #{ ::Text.content('email') }
    #map

- content_for :script, javascript_include_tag('https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=ru', 'map.js')
- content_for :title, "Контакты"
- content_for :description, "Украина, Киев, Большая Окружная дорога, Петропавловская Борщаговка, ул. Петропавловская 14-Е"